@define-color background #222222;
@define-color foreground #E7E3D8;
@define-color color0 #4D4D4D;
@define-color color1 #825856;
@define-color color2 #8C897D;
@define-color color3 #D85650;
@define-color color4 #68946A;
@define-color color5 #C17D21;
@define-color color6 #BAAE8F;
@define-color color7 #D4CEBF;
@define-color color8 #949085;
