@define-color background #020000;
@define-color foreground #F7FBE5;
@define-color color0 #020000;
@define-color color1 #5B7389;
@define-color color2 #B26459;
@define-color color3 #928D79;
@define-color color4 #85A9CB;
@define-color color5 #ED8E7C;
@define-color color6 #E9F3B4;
@define-color color7 #ECF1D1;
@define-color color8 #A5A892;
