@define-color cursor #9ABAD2;
@define-color background #14100E;
@define-color foreground #EBF9FF;
@define-color color0  #3F3A38;
@define-color color1  #7F7E6C;
@define-color color2  #5382A9;
@define-color color3  #C16739;
@define-color color4  #2F917A;
@define-color color5  #C6B69D;
@define-color color6  #C5EFFF;
@define-color color7  #DAEFF6;
@define-color color8  #98A7AD;
@define-color color9  #7F7E6C;
@define-color color10 #5382A9;
@define-color color11 #C16739;
@define-color color12 #2F917A;
@define-color color13 #C6B69D;
@define-color color14 #C5EFFF;
@define-color color15 #DAEFF6;

