@define-color background #14100E;
@define-color foreground #EBF9FF;
@define-color color0 #3F3A38;
@define-color color1 #7F7E6C;
@define-color color2 #5382A9;
@define-color color3 #C16739;
@define-color color4 #2F917A;
@define-color color5 #C6B69D;
@define-color color6 #C5EFFF;
@define-color color7 #DAEFF6;
@define-color color8 #98A7AD;
