@define-color cursor #A9A497;
@define-color background #222222;
@define-color foreground #E7E3D8;
@define-color color0  #4D4D4D;
@define-color color1  #825856;
@define-color color2  #8C897D;
@define-color color3  #D85650;
@define-color color4  #68946A;
@define-color color5  #C17D21;
@define-color color6  #BAAE8F;
@define-color color7  #D4CEBF;
@define-color color8  #949085;
@define-color color9  #825856;
@define-color color10 #8C897D;
@define-color color11 #D85650;
@define-color color12 #68946A;
@define-color color13 #C17D21;
@define-color color14 #BAAE8F;
@define-color color15 #D4CEBF;

